<nav class="navbar navbar-dark bg-dark px-4">
    <a class="navbar-brand text-white" href="/userdashboard/index">User Panel</a>
    <div class="d-flex">
        <a href="/appointments/getappointmentsbyuserId" class="nav-link text-white ms-3">Randevularım</a>
        <a href="/auth/login" class="nav-link text-white ms-3">Çıkış Yap</a>
    </div>
</nav>

<div class="container mt-4">
    <div class="welcome-message">
        <h2>Hoş Geldiniz!</h2>
        <p>Kullanıcı paneline başarılı bir şekilde giriş yaptınız. Sistem üzerinde işlem yapmak için menüyü kullanabilirsiniz. </p>
        <p>Burada randevu verilerinize ulaşabilir ve yönetebilirsiniz.</p>
    </div>
</div>