<nav class="navbar navbar-dark bg-dark px-4">
    <a class="navbar-brand text-white" href="#">Admin Panel</a>
    <div class="d-flex">
        <a href="/auth/index" class="nav-link text-white">Kullanıcılar</a>
        <a href="/appointments/index" class="nav-link text-white ms-3">Randevular</a>
    </div>
</nav>

<div class="container mt-4">
    <h2>Hoş geldiniz!</h2>
</div>
